venv
.cursorignore
.cursorrules   
.cursor/ 
# Editor files
*~
*.swp
.vscode/
.idea/
.aim/

# Compiled files (python caches, etc)
*.pyc
*.pyo
*.pyd
__pycache__/

data/
outputs/
notebooks/
wandb/
wandb_runs/
# tests/
*.egg-info/
build/
dist/
# Log files
*.log
*.csv
*.ipynb
