data/geom_drugs_test_set/drugs_test_inference_.pickle filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
data/geom_drugs_test_set/drugs_test_inference.pickle filter=lfs diff=lfs merge=lfs -text
