model:
  # checkpoint_path: /nfs/h100/raid/chem/checkpoints/hf/yerevann/Llama-3.2-380M_conformers/e184d4d867804fbd8a8c45bf/step-30000/
  checkpoint_path: /nfs/h100/raid/chem/checkpoints/hf/yerevann/Llama-3.2-380M_conformers/b4707c6bf8b54cba8febe9fc/step-8500/
  tokenizer_path: /auto/home/menuab/code/YNNtitan/torchtitan/tokenizers/Llama-3.2-chem-1B-v1
  mol_tags: ["[SMILES]", "[/SMILES]"]
  conf_tags: ["[CONFORMER]", "[/CONFORMER]"]
  pad_token: <|finetune_right_pad_id|>
  dtype: bf16 # bf16 / fp32

generation:
  max_completion_length: 1000
  temperature: 1.0
  do_sample: true
  repetition_penalty: 1.0
  num_return_sequences: 1

processing:
  eos_token_id: 128329

grpo:
  output_dir: ./grpo_outputs
  learning_rate: 0.0001
  max_steps: 5000
  temperature: 1.0
  num_generations: 8
  batch_size: 4
  grad_acc_steps: 4
  scheduler: cosine
  # scheduler: constant_with_warmup
  adam_beta1: 0.9
  adam_beta2: 0.99
  weight_decay: 0.1
  warmup_ratio: 0.2
  max_grad_norm: 0.1
  beta: 0.0
  seed: 1
  reward_weight_rmsd: 0.0
  reward_weight_match: 0.2
  rmsd_const: 1.8

device:
  device_type: "a100"
  num_gpus: 2

dataset:
  dataset_path: /nfs/ap/home/_menuab_/cartesianisomeric/grpo/train_data_1.jsonl
  smiles_mapping_path: /nfs/ap/mnt/sxtn2/chem/GEOM_data/smiles_mapping.json

run:
  name: 380m_1e_lr1e-4_4bs*8comp*2gpu*4ga_beta0_rmsd0.0_match0.2