model:
  checkpoint_path: /nfs/h100/raid/chem/checkpoints/hf/yerevann/Llama-3.2-1B_conformers/37cf49f293254a6986b12948/step-40000/
  tokenizer_path: /auto/home/menuab/code/YNNtitan/torchtitan/tokenizers/Llama-3.2-chem-1B-v1
  mol_tags: ["[SMILES]", "[/SMILES]"]
  conf_tags: ["[CONFORMER]", "[/CONFORMER]"]
  pad_token: <|finetune_right_pad_id|>
  dtype: bf16 # bf16 / fp32

generation:
  max_completion_length: 2000
  temperature: 1.0
  do_sample: true
  repetition_penalty: 1.0
  num_return_sequences: 1

processing:
  eos_token_id: 128329

grpo:
  output_dir: outputs
  learning_rate: 0.0001
  num_epochs: 1
  temperature: 1.0
  num_generations: 8
  batch_size: 8
  grad_acc_steps: 1
  scheduler: cosine
  # scheduler: constant_with_warmup
  adam_beta1: 0.9
  adam_beta2: 0.99
  weight_decay: 0.1
  warmup_ratio: 0.1
  max_grad_norm: 0.1
  beta: 0.005
  seed: 1

# Dataset
dataset:
  dataset_path: /auto/home/menuab/cartesianisomeric/grpo/train_data_1.jsonl
  smiles_mapping_path: /nfs/ap/mnt/sxtn2/chem/GEOM_data/smiles_mapping.json

run:
  name: 1b_1e_lr1e-4_8bs*8comp*2gpu*1ga_beta5e-3_rmsd1.0_match0.2_warmup0.1